// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//colores de matrix base
$matrix-azul:#0088CC;
$matrix-celeste-claro:#cfefff;
$matrix-celeste-oscuro:#82D5FF;
$matrix-gris-claro:#91A7B3;
$matrix-gris-oscuro:#677780;
$fondo_tabla_Seleccionada: rgba(61, 193, 245, 0.06);
